.top-middle{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

/*validation text size*/

.has-text-danger{
    font-size: 0.75rem
}

/*pagination*/

.pager .pagination>li>a,
.pager .pagination>li>span {
    color: #343a40;
}
.pagination>li.page-item.active>a {
    border: 1px solid #343a40;
  background: #343a40;
  color: #fff;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	height: auto;
}
.container-fluid {
	height: calc(100vh - 60px);
}
p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
}
.modal {
	overflow: scroll;
}

.table td, .table th {
	vertical-align: middle;
}

th > a {
	color: #fefefe;
	text-decoration: underline;
}
